<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="main-box clearfix">
                <div class="table-responsive">
                    <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm" />
                    <table class="table user-list">

                        <thead>
                            <tr>
                                <th><span>User</span></th>
                                <th><span>birthDate</span></th>
                                <th class="text-center"><span>Status</span></th>
                                <th><span>Email</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let user of lists | filter: filterTerm">



                                <td>
                                    <img src=" {{user.picture}}" alt="Avatar">
                                    <a href="#" class="user-link">{{user.firstName}} {{user.lastName}}
                                        {{user.accountCategory}} </a>

                                </td>
                                <td>
                                    {{user.birthDate}}
                                </td>
                                <td class="text-center">
                                    <span class="label label-default">Inactive</span>
                                </td>
                                <td>
                                    <a href="#"> {{user.email}}</a>
                                </td>
                                <td style="width: 20%;">

                                    <button (click)="DeleteUser(user.idCustomer)" *ngIf="user.accountCategory!='Admin'">
                                        Delete </button>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <ul class="pagination pull-right">
                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>